.slogan-container {
  margin: 0 auto;
  display: grid;
  padding: 20px 0;
  text-align: center;
  font-size: 2.5rem;
}

.slogan-icon img {
  width: 200px;
}

.slogan p {
  align-self: center;
  justify-self: center;
  width: 1000px;
}