.footer {
  background: var(--color-dark);
  color: var(--color-light);
  font-size: 1.25rem;
  border-top: 8px solid;
  border-image: linear-gradient(
      to right,
      transparent 0%,
      var(--color-primary) 60%
    )
    1;
}

.footer-container {
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.footer-title {
  font-weight: 300;
  font-size: 2rem;
}

.footer-contact {
  margin: 40px 0;
}

.footer-contact a {
  color: var(--color-light);
  display: block;
}

.footer-map-section iframe {
  border: 0;
  border-radius: 10px;
}

.footer-location-section {
  text-align: center;
  display: grid;
  justify-items: center;
  grid-template-rows: 20% 80%;
}

.footer-social-links {
  margin-bottom: 40px;
}

.hidden {
  display: none;
}