.testimonies-videos-carousel-container {
  background: var(--color-light);
  padding: 40px;
}

.testimonies-videos-carousel {
  --video-w: 320px;
  --video-h: calc(var(--video-w) * (16 / 9));
  --arrow-size: 100px;
  --gap: -10px;
  display: grid;
  grid-template-columns: var(--arrow-size) 2fr var(--arrow-size);
  align-items: center;
  gap: var(--gap);
  max-width: 60%;
  margin: 0 auto;
  padding: 12px;
  position: relative;
}

.testimonies-videos-container {
  position: relative;
  width: 100%;
  height: var(--video-h);
  overflow: hidden;
  border-radius: 10px;
}

.testimonies-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--video-w);
  height: var(--video-h);
  border: 10px solid black;
  border-radius: 10px;
  transition: all 0.45s ease-in-out;
  transform: translate(-50%, -50%) scale(0.88);
  opacity: 0.55;
}

.testimonies-video.current {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 2;
}

.testimonies-video.prev {
  left: 15%;
  transform: translate(-50%, -50%) scale(0.82);
  opacity: 0.65;
  z-index: 1;
}

.testimonies-video.next {
  left: 85%;
  transform: translate(-50%, -50%) scale(0.82);
  opacity: 0.65;
  z-index: 1;
}

.testimonies-video.hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 0;
}

.carousel-btn {
  background: none;
  border: 0;
  width: fit-content;
  height: fit-content;
  font-size: 48pt;
  color: var(--color-primary);
}

.prev-btn {
  justify-self: center;
  grid-column: 1;
}

.next-btn {
  justify-self: center;
  grid-column: 3;
}
