@media (max-width: 1500px) {
  .testimonies-videos-carousel {
    padding: 0;
  }

  .testimonies-videos-carousel-container {
    padding: 40px 0;
  }
}

@media (max-width: 1200px) {
  .testimonies-videos-carousel-container {
    padding: 20px;
    display: grid;
    gap: 20px;
  }

  .testimonies-videos-carousel {
    display: grid;
    grid-template-columns: 10% 70% 10%;
    gap: 16px;
    align-items: center;
    justify-items: center;
    width: 50%;
    overflow: hidden;
  }

  .testimonies-videos-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .testimonies-video {
    position: absolute;
    margin: 0 auto;
    border-width: 12px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .testimonies-video.current {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }

  .testimonies-video.prev,
  .testimonies-video.next,
  .testimonies-video.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
  }

  .testimonies-video.prev {
    transform: translateX(-200%);
  }

  .testimonies-video.next {
    transform: translateX(200%);
  }

  .testimonies-videos-carousel-container h2,
  .testimonies-videos-carousel-container .alternative-title {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .prev-btn,
  .next-btn {
    justify-self: center;
  }
}

@media (max-width: 768px) {
  .testimonies-videos-carousel {
    width: 100%;
    height: 55vh;
  }

  .testimonies-video {
    width: 100%;
  }
}
