@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Arpona';
  src: url('./assets/fonts/Arpona-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Arpona';
  src: url('./assets/fonts/Arpona-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Arpona';
  src: url('./assets/fonts/Arpona-Bold.otf') format('opentype');
  font-weight: 700;
}

:root {
  --color-light: #f5f1e8;
  --color-dark: #081e2d;
  --color-primary: #ad864e;
  --color-secondary: #ffdd7c;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}